*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: url("../img/Hologram_Planet_by_nuva.gif");
}

.block1{
  position: absolute;
  top: 30vh;
  left: 7vw;
  height: 500px;
  width: 1600px;
  opacity: 80%;
  border-radius: 2rem;
  background: linear-gradient(to right bottom, #171717, #171717);
  box-shadow: 5px 5px 5px rgba(148, 147, 147, 0.3);
}


#container{
  position: absolute;
  margin-top: 90px;
  margin-left: 30%;
  height: 300px;
  width: 500px;
  border: solid 6px #ffffff;
  border-radius: 1rem;
}


#box{
  position: relative;
  height: 25px;
  width: 25px;
  border-radius: 3rem;
  background: red;
  transition-duration: 3s;
  /*
  boule a : y = 209 x = 170 / boule b : y = 200 x = 150
  */
}

#box2{
  position: relative;
  height: 25px;
  width: 25px;
  border-radius: 3rem;
  background: blue;
  transition-duration: 3s;
}


.content button{
  position: absolute;
  top:13vh;
  left:70vw;
  outline: none !important;
}

#addInfectedPerson{
  position: absolute;
  top:23vh;
  left:70vw;
  outline: none !important;
}

#removePerson{
  position: absolute;
  top:33vh;
  left:70vw;
  outline: none !important;
}

*:focus {
  outline: 0 !important;
}

h1{
  position: relative;
  top: 5vh;
  font-family: "Roboto Light";
  text-align: center;
  font-size: 50px !important;
  color: #fff;
}

.chart{
  position: relative;
  margin-top: 80vh;
  margin-left: 28vw;
  width: 40vw;
  height: 40vh;
}
